<div style="width: 100%">
  <div class="dashboard-container">
    <h2>Dashboard</h2>
    <!-- <apx-chart [series]="series" [chart]="chart" [title]="title"></apx-chart> -->
    <!-- <apx-chart
    class="h-80 w-full flex-auto"
    [chart]="
        chartGithubIssues.chart
    "
    [colors]="
        chartGithubIssues.colors
    "
    [dataLabels]="
        chartGithubIssues.dataLabels
    "
    [grid]="chartGithubIssues.grid"
    [labels]="
        chartGithubIssues.labels
    "
    [legend]="
        chartGithubIssues.legend
    "
    [plotOptions]="
        chartGithubIssues.plotOptions
    "
    [series]="
        chartGithubIssues.series[
            githubIssuesWeekSelector
                .value
        ]
    "
    [states]="
        chartGithubIssues.states
    "
    [stroke]="
        chartGithubIssues.stroke
    "
    [tooltip]="
        chartGithubIssues.tooltip
    "
    [xaxis]="
        chartGithubIssues.xaxis
    "
    [yaxis]="
        chartGithubIssues.yaxis
    "
  ></apx-chart> -->
    <apx-chart
      #chart
      [series]="form.value?.series | series : form.value.type"
      [xaxis]="{ categories: form.value?.xaxis }"
      [chart]="{
      height: form.value.height,
      type: form.value.type,
      zoom: {
        enabled: false
      },
    }"
      [title]="{ text: form.value.title }"
      [autoUpdateSeries]="false"
      (chartReady)="onChartReady($event)"
    ></apx-chart>

    <div class="flex gap-10">
      <div>
        <div class="p-10 border-pink-400 border-2 rounded">
          <h1 class="text-3xl font-bold underline">
            Hello Cardinal!
          </h1>
        </div>
      </div>
      <button class="h-12 bg-transparent hover:bg-pink-500 text-pink-700 font-semibold hover:text-white py-2 px-4 border border-pink-500 hover:border-transparent rounded">
        Click
      </button>
    </div>


    <div class="">
      <a href="#">Anchor</a>
    </div>
  </div>
</div>
